.welcome__content {
    margin: 20px 50px;
    border: 5px solid #4a4e69;
    padding: 30px 30px;
    display: flex;
    border: 5px dashed #DF6C4F;
}

.welcome__content .content__right{
    flex-direction: column;
    background: #e56b6f
}

.welcome__content .content__right .right__info {
    margin: 10px;
}

.welcome__content .content__left,
.welcome__content .content__right,
.welcome__content p {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__content .content__left .left__image {
    width: 70vh;
}

.welcome__content .content__right .right__box {
    display: flex;
}