#root{
    --font-dark: #3d464d;
    --color-bg-light:#f9f9f9;
    --color-button:rgb(155, 196, 93);;
    --color-green:#b0f2c2;
    --color-bg-dark: #485f70 ;
}

.aboutPage__container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--font-dark);
    background-color: var(--color-bg-light);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutPage__title{
    width: 100%;
    color: var(--font-dark);
}

.aboutPage__container-cards{
    width: 85%;
    padding: 2rem;
}

.aboutPage__container-cards-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.aboutPage__container-cards-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
}

@media screen and (max-width: 768px){

    .aboutPage__container-cards-grid{
        display: flex;
        flex-direction: column;
    }
}