.homeBody {
    margin: 10px 50px;
    padding: 20px 20px;
    background: repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0) 20px,
        rgba(0, 0, 0, 0) 40px,
        #9fa2b2 40px,
        #9fa2b2 60px
    );

}