.container__footer {
    margin: 2vh 0 0 0;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background: #d9dcd6;
    color: #1b273d;
}

.footer__row {
    display: flex;
    justify-content: space-evenly;
}

.container__footer .footer__row .row__left {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.container__footer .footer__row .row__left .footer__section {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.container__footer .footer__row .row__left .footer__section .footer__section-header {
    margin-bottom: 20px;
    font-weight: bolder;
}

.container__footer .footer__row .row__left .footer__section {
    
    padding: 0
}

.container__footer .footer__row .row__left .footer__section li a {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
}

.container__footer .footer__row .row__left .footer__section li {
    list-style: none;
    margin-bottom: 10px;
}

.container__footer .footer__row .row__right {
    display: flex;
    margin-left: 2vh;
    justify-content: center;
}

.container__footer .footer__row .row__right img {
    width: 60%;
}