.container__profile {
    background-color: #d9dcd6;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
    padding: 2%;
}

.container__profile .container__top {
    margin: auto;
}

.container__profile .container__top .top__row {
    background:rgba(163, 207, 190, 0.664);
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 20px;
    width: 75vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    position: relative;
    align-items: center;
}

.container__profile .container__top .top__row .top__left {
    width: 30vw;
    display: flex;
    justify-content: center;
}

.container__profile .container__top .top__left .left__profile {
    position: relative;
    display: flex;
    align-items: center;
    width: 25vw;
    height: 50vh;
    overflow: hidden;
    /* margin: 20px 0 10px 0;  */
}

.container__profile .container__top .top__left .left__profile img {
    position: absolute;
    border: 3px solid var(--color-main);
    top: 0;
    left: 0;
    object-fit: cover;
    height: 50vh;
    border-radius: 50%;
    width: 25vw;
    
}

/* ------------------------------------ [ INFO USER ] -------------------------------- */
.container__profile .container__top .top__row .top__right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container__profile .container__top .top__row .top__right .right__infoUser {
    background: whitesmoke;
    padding: 30px;
    margin: 10px;
    color: #11151c;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: start;
}


.container__profile .container__top .top__row .top__right .right__infoUser p {
    margin: 5px 0;
}

/* ----------------------------------------------------------------------------------- */
