#root{
    --font-dark: #3d464d;
    --color-bg-light:#f9f9f9;
    --color-button:rgb(155, 196, 93);
    --color-button-2:rgb(154, 205, 50);
}

.container__landing-page
a{
    text-decoration: none;
}

.title-span{
    color: rgb(155, 196, 93);
}

/* TEMPLATES */

.button__template{
    background-color: var(--color-button-2);
    color: #f9f9f9;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    border: 2px solid transparent;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.25s ease;
    
}

.button__template:hover{
    background-color: rgb(130, 169, 53);
}

/* --------- LANDING PAGE --------- */


.container__landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #f9f9f9;
}

/* -------- SECTION 1 -------- */

.landing__content-1{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/landing_section-1.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    box-shadow: 0 10px 10px rgba(0,0,0);
}

.filter-content-1{
   width: 100%;
   height: 100%; 
   background-color: rgba(0,0,0,.5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.section-header{
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 2rem;
}

.section-header
div{
    padding: 0 3rem;
}

.section-header
div
a{
    padding: 1rem 0;
    font-weight: bold;
    color: #f9f9f9;
    cursor: pointer;
    position: relative;
}

.section-header
div
a:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #f9f9f9;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.section-header
div
a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}


.landing__content-1-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #f9f9f9;
}

.landing__content-login-register{
    width: 100%;
    height: 25%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container__button{
    display: flex;
    gap: 1rem;
}

/* OPINIONES ---- SECTION 2 ----*/

.landing__content-2{
    color: rgb(60, 49, 49);
    width: 100%;
    
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding: 3rem 0 3rem 0;
}

.landing__content-2-title{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(114, 143, 56); */
    
}

.container__cards{
    background-color: var(--color-bg-light);
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

/* content 3 ¿POR QUE NOSOTROS? */

.landing__content-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: groove 3px var(--color-button-2);
}

.landing__content-3-first{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/landing_section-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.landing__content-3-first-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: var(--color-bg-light);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.landing__content-3-first-filter
div{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.landing__content-3-second{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(75vh / 1.5);
    border-bottom: #c2c2c2 0.5px solid;
}


.content-3-second-box1{
    background-color: white;
    color: var(--font-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.content-3-second-box1
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 80%;
}

.content-3-second-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 196, 93);
    color: #f9f9f9;
    width: 50%;
}

.content-3-second-box2
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;
}

/* NOVEDADES (SECCION 3) */

.landing__content-4{
    background-color: #f9f9f9;
    width: 100%;
    padding: 0 0 5rem 0 ;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    color: var(--font-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    
}

.landing__content-4-title{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 0 3px 10px gray;
    
}

.title-container-news{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #41d28f;
    width: 50%;
    height: 23.1vh;
    color: whitesmoke;
    
}

.title-image{
    content: "";
    background-image: url(../../assets/img/background-about.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 23.1vh;
    
}

.landing__content-4-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}



/* lo ultimo*/
.landing__content-5{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 74, 115);
    width: 100%;
    height: 50vh;
    color: #f9f9f9;

}

.landing__content-5
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content-5-button{
    background-color: yellowgreen;
    color: #f9f9f9;
    border-radius: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bold;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.content-5-button:hover {
    border-color: rgba(0,0,0);
  }
  .content-5-button:focus,
.content-5-button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

.button-more-info{
    background-color: rgb(33, 141, 242);
    font-weight: bold;
    color: #f9f9f9;
    border-radius: 10px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
}

.button-more-info:hover{
    border-color: #f9f9f9;
}

#sect-1{
    padding: 0;
    margin-top: 48px;
}

#sect-3{
    margin-top: 48px;
}

@media screen and (max-width: 768px){
    /* SECCION 2 */
    .landing__content-2{        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .landing__content-2-title{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .container__cards{
        background-color: var(--color-bg-light);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        gap:3rem;
    }
    
    .container__cards-card{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        border-radius: 7px;
        box-shadow: 1.5px 1.5px 5px gray;
        padding: 0 0 2rem 0;
    }

    .container__cards-card
    p{
        width: 90%;
    }
    
    .container__cards-card
    img{
        width: 100%;
        aspect-ratio: 16 / 9;
        padding: 1rem 1rem 1rem;
    }
    
    /* NOVEDADES (SECCION 4) */

    .landing__content-4-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    
    /* .content-4-card-animation{
        width: 70%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;
        gap: 2rem;
        border-radius: 7px;
        box-shadow: 1.5px 1.5px 5px gray;
        transition: all .1s linear;
    } */

   
    
    

}






