/* ponele el color a las secciones que busques creo que si 
usamos modules solo para esta pagina podrias hacer eso  */
/* * {
    color: #1b273d
} */

.filter__container {
    background: #d9dcd6;
    padding: 20px;
    margin: 0 0 10px 0;
    border-radius: 5px;
    /* height: 75%; */
    height: fit-content;
    margin-top: 10%;
    border: 1px grey solid;
}

.filter__container .filter__section .footer__section-header {
    font-weight: bolder;
    padding: 5px 0 15px 0;
    color: black;
    font-size: larger;
}

.filter__container .filter__section {
    padding: 20px 30px;
}

.filter__container .filter__section li {
    list-style: none;
    padding: 5px 0;
}

.filter__container .filter__section li a {
    text-decoration: none;

}