.post__content {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    background-color: #9a8c98;
    color: #f2e9e4;
    border-radius: 0 10px 0px 10px;
    padding: 20px 50px 0 50px;
    font-family: monospace;
}

.post__content .post__description {
    margin: 10px 0;
    padding: 0 20px;
    text-align: justify;
    font-size: 15px;
    background: #778da965;
    border-radius: 10px 10px 10px 10px;
    border: 5px solid #22223b
}

.post__content .post__infoUser {
    display: flex;
}

.post__content .post__infoUser p {
    margin: 0;
}

.post__content .post__infoUser .infoUser__data {
    margin: 10px 0 0 20px;
}

.post__content .post__profile {
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}

.post__content .skill_container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 5px 0 15px;
}

.post__content .skill_container .skill_container-post {
    --skill-height: 25px;
    --skill-color: whitesmoke;
    --skill-bg: #3d405b;
    display: inline-flex;
    align-items: center;
    height: var(--skill-height);
    margin: 0 5px 10px 0;
    padding: 0 10px;
    color: var(--skill-color);
    background-color: var(--skill-bg);
    border-radius: 12px;
    font-size: 12px;
    line-height: 1;
    cursor: default;
    cursor: pointer
}