.post__content {
    width: 60vw;
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    background-color: #d9dcd6;
    color: #11151c;
    border-radius: 0 10px 0px 10px;
    padding: 20px 50px 0 50px;
    /* font-family: monospace; */
    box-shadow: inset 0 0 0 2.5px rgba(255, 255, 255, 0.726);
    transition: all 0.3s ease-out;
    box-shadow: 8px 5px 3px 3px #16262e;  
}

.post__content:hover{
    transition: all 0.2s ease-out;
    transition-delay: 0.2s;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 15px 5px 3px 3px #16262e;  
}

/* .post__content .post__infoUser {
    display: flex;
    width: 50vw;
} */

.post__content .post__description {
    width: 35vw;
    margin: 10px 0;
    padding: 0 20px;
    text-align: justify;
    font-size: 15px;
    background: #40916c65;
    border-radius: 10px 10px 10px 10px;
    /* border: 5px solid #22223b; */
}

.post__content .post__description p {
    margin: 10px 0
}

.post__content .post__top {
    display: flex;
    margin-bottom: 10px;
}

.post__content .post__top .post__right p {
    margin: 0;
}

.post__content .post__top .post__right {
    margin-left: 5%;
}

.post__content .post__top .post__right .infoUser__container {
    display: flex;
    flex-direction: column;
}

.post__content .post__top .post__right .infoUser__container .container__bottom {
    margin: 10px 0 0 20px;
    display: flex;
}

.post__content .post__top .post__right .infoUser__container .container__bottom p {
    margin: 0 5px;
    font-size: 15px;
}

.post__content .post__top .post__left {
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* .post__content .post__top .post__left .post__profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 32.5vh;
    border-radius: 50%;
    border: 7px double whitesmoke;
    overflow: hidden;
    margin: 20px 0 10px 0; 
    width: 50vw;
} */

.post__content .post__top .post__left img {

    max-width: 50rem;
    max-height: 10rem;
    min-height: 50%;
    min-width: 50%;
    /* height: 50%; */
    border: 2px grey solid;
    border-radius: 50%;
}

.post__content .post__bottom .skill_container {
    flex-wrap: wrap;
    display: flex;
    scroll-behavior: smooth;
    align-items: flex-start;
    /* /* padding: 5px 0 15px; */
}

.post__content .post__bottom .skill_container .skill_container-post {
    --skill-height: 1.5rem;
    --skill-color: whitesmoke;
    --skill-bg: #1b4332;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    height: var(--skill-height);
    margin: 0 5px 10px 0;
    padding: 0 10px;
    color: var(--skill-color);
    background-color: var(--skill-bg);
    border-radius: 12px;
    font-size: 12px;
    line-height: 1;
    cursor: default;
    cursor: pointer
}

.post__content .post__top .post__right .infoUser__container .container__top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}